* {
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  main {
    margin: 60px auto 0; /* margin-top을 header가 차지하는 만큼 줌 */
    padding: 2em 4em;
  }
  main > p {
    margin-top: 2em;
    text-align: justify;
  }
  
  #menu-button {
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    margin-right: 2em;
  }
  
  #menu-button:focus {
    outline: none;
  }
  
  #menu-button > .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 1.5px;
    margin: 3px auto;
  }
  
  #side-menu {
    position: fixed;
    top: 60px; /* header의 높이 다음에 나올 수 있도록 */
    left: 0;
    bottom: 0;
    border-right: 1px solid #ddd;
    background-color: #eee;
    width: 200px;
    padding: 10px 20px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
    transition-duration: 500ms;
  }
  
  #side-menu.hidden {
    left: -100%;
  }
  
  #side-menu > ul {
    list-style: none;
  }
  
  #side-menu > ul > li {
    margin: 20px 0;
  }
  
  #side-menu > ul > li > a {
    text-decoration: none;
    color: #555;
  }
  #side-menu > ul > li > a:hover {
    font-weight: bold;
    color: #222;
  }
        